.footer-section {
    width: 100%;
    background-color: #ededed;
    position: relative;
}



.btn-link {

    display: flex;
    align-items: center;
    justify-content: center;
}



.logo {
    width: 110px;
}

.social-icon {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {

    padding: 5px;
    font-size: 18px;
}

.icon i {
    color: var(--gray);
    cursor: pointer;
}

.footer-link {
    text-transform: capitalize;

}

.footer-link a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 13px;
    color: var(--gray);
}

.footer-link h5 {
    font-size: 15px;
}

.subcribe-form {
    position: relative;
    width: 200px;
}

.input_box {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 35px;
    background-color: #b0b0b0;
    padding: 5px;
    color: white;
}



.sub_btn {
    background-color: aqua;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    padding: 5px 20px;
    transition: all 0.3s linear;
    position: absolute;
    top: 0px;
    right: -35px;
}

.conact-icon {

    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    color: var(--gray);
}

.text-purple {
    color: var(--purple);
}

.footer-link p {
    font-size: 13px;
    color: var(--gray);
}

@media (max-width:600px) {

    .social-icon {
        position: absolute;
        bottom: -16px;
    }
}