* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --yellow-text: #fdb617;
    --purple: #c070ff;
    --red: #EA455F;
    --gray: gray;

}

body {
    font-family: 'jost', sans-serif;
 
}

.main-div{
    overflow-x: hidden;
    width: 100%;
}

.navbar {

    position: relative;
    text-transform: capitalize;

    z-index: 222;
}

.navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;

}

.dropdown-item {
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: orchid !important;
    font-weight: 600;
}

/* .navbar-light .navbar-brand {

    color: white !important;
} */
.nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover {

    color: orchid !important;
    /* transition: all 2s linear; */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav {
    padding: 21px 36px;
    border-radius: 13px;

}


.navbar-brand img {

    width: 140px;
}

.banner-section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100px;
}

.banner-img {

    width: 100%;
    height: 100%;

    position: absolute;

    z-index: -2;
}


.overly {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}

.banner-content {
    text-align: center;
    color: white;
    /* font-size: 40px; */
}

.banner-content h2 {
    margin-bottom: 30px;
}

.yellow-text {
    color: yellow;
}

.parple-text {

    color: var(--purple) !important;

}


.get_btn {
    padding: 10px 25px;
    border-radius: 19px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    background-color: var(--yellow-text);
    text-decoration: none;
}

.get_btn a:hover {
    color: white;
}

.gallery-section {

    /* margin-top: 334px; */

}

#slice1:hover {
    background-color: yellow;

}

#slice2:hover {
    background-color: rgb(18, 228, 18);

}

#slice3:hover {
    background-color: orange;

}

#slice4:hover {
    background-color: rgb(192, 233, 8);

}

.gallery-section {
    /* margin-top: 304px; */
}

.gallery-img {
    padding: 5px;
}

.gallery-img img {
    width: 253px;
}

.img-height {
    height: 330px;
    border-radius: 8px !important;
}


.Disrapting-title h2 {
    color: var(--purple);

}

.Disrapting-title p {
    text-align: justify;
    color: var(--gray);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.main-circle-div {
    position: relative;
    left: 25;
    left: 117px;
    top: 225px;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 1px solid var(--gray);
}

.main-circle-div img {
    width: 200px;
    cursor: pointer;
}

.position-img {
    position: absolute;

    left: -78px;
    top: 4px;
}

.position-img-2 {

    position: absolute;

    right: -58px;
    top: 2px;
}

.position-img-3 {
    position: absolute;
    top: 270px;
    right: 104px;
}


.red-text {
    color: var(--red)
}

.community img {
    max-height: 72px;
}

.review-scroll {

    height: 300px;
    overflow-y: scroll;
}

.review-scroll::-webkit-scrollbar {
    display: none;
}

.nav-pills .nav-link {
    color: var(--gray) !important;
}

.nav-pills .nav-link.active {

    background-color: rgb(250, 250, 250) !important;
    /* box-shadow: 2px 2px 3px 5px gray; */

}

.review-sec {
    margin-top: 20px;

}

.user-review {
    display: flex;
    align-items: center;
    gap: 10px
}

.emp-img img {
    width: 70px;
}

.review-btn {
    width: 200px;
    padding: 10px;
}

.gray-text {
    color: var(--gray);
}

.circle {
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid gray;
    border-radius: 50%;

}

.circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transform: translateZ(0) rotate(45deg);
    overflow: hidden;
}

.circle__content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d5b0f1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.circle__part {
    position: relative;
    width: 50%;
    height: 50%;
    will-change: transform;
    transition: all .5s cubic-bezier(.17, .67, .83, .67);
}

.circle__part:hover {
    opacity: .75;
}

.circle__part--one:hover {
    transform: translate3d(-5%, -5%, 0);
}

.circle__part--two:hover {
    transform: translate3d(5%, -5%, 0);
}

.circle__part--three:hover {
    transform: translate3d(-5%, 5%, 0);
}

.circle__part--four:hover {
    transform: translate3d(5%, 5%, 0);
}

.racting i {
    color: yellow;
}


.our_team img {
    width: 375px;
}

.conact-form {

    width: 300px;
    padding: 10px 15px;
}

::placeholder {
    font-size: 15px;
}

.get {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:989px) {
    .nav-link {
        color: #000;
    }

}

@media (max-width:750px) {
    /* .nav-link {
        color: #000;
    } */

    .main-circle-div {
        top: 0;
    }

    .review-sec {
        flex-direction: column;
        margin-top: 25px;
    }

    .review-content {
        margin-top: 30px;
    }

    .conact-form {
        margin: 50px auto;
    }


    .main-circle-div img {
        width: 125px;
    }

}

@media (max-width: 650px) {
    .gallery-img {
        margin: 0 auto;
    }

}

@media (max-width:585px) {
    .Disrapting-title p {
        font-size: 15px;
    }

    .main-circle-div {
        width: 300px;
        display: none;
    }

    .social-icon {
        position: absolute;
        bottom: 35px;
    }
}
@media (max-width:410px) {
    .circle{
        width: 300px;
        height: 300px;
    }
    
}
@media (max-width:450px) {
    .banner-content h2 {
        font-size: 15px;
    }

    .our_team img {
        width: 250px;
    }

    .main-circle-div {
        display: none;
    }
}